* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./database/images/background/4-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh + 0.4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .app {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(./database/images/background/ukraynaЗolice-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
} */
